@charset "utf-8";
/* CSS Document */

.top-footer { /*Parte alta del footer*/
  height: 80px;
}
.mid-footer { /*Seccion central del footer*/
  height: 70px;
  background-color: var(--bg-color0);
}
.down-footer { /*Seccion baja del footer*/
    background-color: var(--bg-color0);
    min-height: 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    border-top: 2px solid var(--bg-color7);
  }

  .section-logo { /*Seccion del logo*/
    height: 80px;
    background-color: var(--bg-color1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }
  
  .section-partners { /*Seccion de los partners*/
    background-color: var(--bg-color5);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .imagen-logo { /*Imagen del logo*/
    height: 45px;
  }
  .imagen-partner { /*Imagen de los partner*/
    padding-left: 20px;
    height: 45px;
  }
  .redes-sociales { /*Imagen de las redes sociales*/
    background-color: var(--bg-color0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
  }
  .texto { /*Seccion que contiene los textos del footer*/
    background-color: var(--bg-color0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 17px;
  }
  .circle-rss { /*Secciones circulares de las redes sociales*/
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--bg-color6);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  .circle-rss:hover { /*Hover de dichas secciones*/
    border: 2px solid var(--bg-color5);
  }
  .icon-rss { /*Iconos de las redes sociales*/
    margin: auto;
    width: 20px;
    height: 20px;
  }
  .circle-rss:hover .icon-rss { /*Hover de los iconos cuando nos encontramos sobre la seccion circular de las redes sociales*/
    width: 25px;
    height: 25px;
    transition: width 0.3s ease, color 0.3s ease-out;
    transition: height 0.3s ease, color 0.3s ease-out;
  }
  .text-footer { /*Texto del footer*/
    color: var(--bg-color5);
    letter-spacing: 4.45%;
    font-size: 13px;
    font-weight: bold;
    margin: auto;
  }

  /*Maximo 768px = Columna MD*/
@media only screen and (max-width: 768px) {

  .section-logo { /*Modifica la ubicacion del logo*/
    justify-content: center;
  }
  .section-partners { /*Modifica la ubicacion de los partner*/
    justify-content: center;
  }
  .imagen-partner { /*Modifica la altura de los partner*/
    height: 30px;
  }
  .down-footer { /*Centra la seccion inferior del footer*/
    flex-direction: column;
    }
  .redes-sociales { /*Modifica las redes sociales del footer*/
    background-color: var(--bg-color7);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .texto { /*Modifica la seccion que contiene elº texto del footer*/
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
