@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: "BlantickScript";
    src: url(../fonts/BlantickScript.ttf);
}
/*Variables CSS*/
:root {
    /* --main-bg-color: brown; */
    --bg-color0: #ffffff;
    --bg-color1: #e61414;
    --bg-color2: #444444;
    --bg-color3: #666666;
    --bg-color4: #888888;
    --bg-color5: #000000;
    --bg-color-fondo1: #F3F3F3;
    --bg-color-fondo2: #000;
    --bg-color-fondo3: #EBEBEB; /*Fondo color web*/
}

* {
    font-family: Source Sans Pro,sans-serif;
}

body {
    max-width: 1440px;
    margin: auto;
    margin-top: 70px;
    
}

.color {
  background-color: var(--bg-color-fondo3);
}
a {
  text-decoration: none;
}



.banner-text {
    color: var(--bg-color0);
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 5.625rem;
    line-height: .84444em;
}

.title {
    
    font-weight: 400;
    letter-spacing: -2.1px;
    text-shadow: 0 8px 0 #000;
    color: var(--bg-color0);
    text-transform: uppercase;
}
.section-banner {
    height: 500px;
    max-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/twentynines.jpg');
    background-size: cover;
    background-position-y: 87%;
    background-repeat: no-repeat;
  }

  .section-header {
    min-height: 185px;
  }
  .text-red {
    color: var(--bg-color1);
    font-weight: bolder;
  }
  
  .title-section {
    font-size: 3rem;
    letter-spacing: -.5px;
    font-weight: 400;
    margin-top: 0;
  }

  .text-section {
    font-size: 1.125rem;
    line-height: 1.44444em;
    letter-spacing: 0;
    margin-bottom: 0;
    color: var(--bg-color2);
  }

  .section-elements {
    max-width: 1440px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-color-fondo1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .element {
    width: 620px;
    height: 420px;
    background-color: var(--bg-color0);
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
  }

  .carta {
    background-image: url('../images/smash-burger.webp');
    background-position-x: 36%;
  }

  .calendario {
    background-image: url('../images/calendario-laboral-2023_98.webp');
    background-position-x: 80%;
  }
  .element-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    width: 310px;
    transition: transform 0.5s ease-in-out; 
  }

  .element:hover {
    cursor: pointer;
  }
  .element:hover .element-text {
    background-color: var(--bg-color5);
    color: var(--bg-color0);
  }

  .element:hover .element-title {
    color: var(--bg-color0);
  }

  .element:hover .element-image {
    transform: scale(1.1);
  }

  .element-text {
    background-color: var(--bg-color0);
    height: 420px;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content:top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease-out;
  }

  .element-title {
    font-size: 50;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: var(--bg-color5);
  }

  .element-description {
    padding-top: 10px;
    font-size: 15;
    font-weight: 600;
    color: var(--bg-color3);
  }

  .button-discover {
    color: var(--bg-color1);
    font-size: 13;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 50px;
  }
  .button:hover {
    color: var(--bg-color1);
  }

  .section-info {
    min-height: 360px;
    max-width: 1440px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-info-bottom {
    max-width: 1440px;
    height: 60px;
    margin: auto;
    background-color: var(--bg-color-fondo1);
  }
  .section-text {
    display: flex;
    flex-direction: column;
  }

  .text-box{
    width: 1000px;
    margin-right: 50px;
  }
  .title-info {
    color: var(--bg-color1);
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: 700;
    letter-spacing: -.5px;
  }
  
  .subtitle-info {
    letter-spacing: 0;
    margin-top: 30px;
    font-weight: 600;
    color: var(--bg-color5);
    font-size: 1.125rem;
    line-height: 1.4444em;
    text-align: left;
  }

  .description-info {
    color: var(--bg-color2);
    font-weight: 500;
    letter-spacing: 0;
    font-size: 14;
    line-height: 1.42857em;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* CSS PROPIO DE CARTA.HTML*/

 .btn-no-margin {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
    --bs-btn-border-width: 0;
  }
  .container-categories {
    display: flex;
    background-color:#F3F3F3;
    max-width: 1440px;
    margin: auto;
  }

  .container-products {
    display: flex;
    justify-content: center;
    background-color:#F3F3F3;
    max-width: 1440px;
    margin: auto;
  }

  .no-margin-row {
    --bs-gutter-x: 0em;
    --bs-gutter-y: 0em;
  }

  .category {
    width: 360px;
    height: 540px;
  }
  .red-button {
    color: var(--bg-color1);
    font-weight: 900;
    font-size: 9pt;
    margin-bottom: 0;
  }

  .card {
    border-radius: 0px;
    border: 0px;
    min-width: 360;
    margin: 20px;
    position: relative;
    overflow: hidden;
  }

  .card-img-top {
    border-radius: 0px;
    object-fit: cover;
    height: 286px;
  }

  .card-body {
    background-color: var(--bg-color0);
    height: 254px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease-out;
  }

  .card-body-bottom {
    display: flex;
    align-items: center;
  }

  .precio {
    margin-bottom: 0;
    font-weight: 600;
  }

  .category .product-image {
    height: 286px;
  }

  .card-title {
    color: var(--bg-color5);
    font-size:23pt;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1;
    margin-bottom: 0;
  }

  .card-text {
    color: var(--bg-color3);
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 0;
  }

  .category-header {
    background-color: var(--bg-color-fondo1);
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .category-line {
    height: 2px;
    width: auto;
    background-color: var(--bg-color5);
  }

  .category-title {
    margin-left: 20px;
    font-size: 40;
    font-weight: 500;
  }

  #arrow_svg {
    fill: var(--bg-color1);
    margin-left: 8px;
  }

  .product-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 286px;
    width: 360px;
    transition: transform 0.5s ease-in-out;
  }
  .card:hover .card-body {
    background-color: var(--bg-color5);
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
  }

  .card:hover .card-title {
    color: var(--bg-color0);
  }

  .card:hover .precio {
    color: var(--bg-color0);
  }
  .card:hover .product-image {
    transform: scale(1.1);
    object-fit: cover;
  }

  /*-------------
      Header
  -------------*/

  .navbar {
    background-color: var(--bg-color-fondo2);
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
    max-width: 1440px;
    margin: auto;
    height: 70px;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .nav-item {
    background-color: var(--bg-color5);
  }

  .nav-link {
    color: var(--bg-color0);
    text-transform: uppercase;
    border-right: 1px solid var(--bg-color2);
    letter-spacing: .8px;
    font-weight: 900;
    padding: 15px;
    font-size: .625rem;
    cursor: pointer;
    line-height: 1em;
  }

  .login {
    min-width: 112px;
  }
  .nav-item-hover:hover {
    background-color: var(--bg-color1);
  }
  .nav-link:hover {
    color: var(--bg-color0);
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }
  .logo {
    background-color: var(--bg-color1); /*Color fondo seccion*/
    width: 22%; /* Ancho de la seccion del logo*/
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    height: 70px;
    min-width: 240px;
  }

  .logo-img {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .items {
    display: flex;
    justify-content:space-between;
  }

  .no-border-link {
    border-right: 0px;
    max-height: 40px;
    margin: auto;
  }

  .btn-custom {
    margin-left: 0.2px;
    border: 1px solid  var(--bg-color2);
    background-color: var(--bg-color2);
    border-radius: 0;
    color: var(--bg-color0);
    margin-right: 15px;
  }

  .btn-custom:hover {
    background-color: var(--bg-color1);
  }

  .input-buscar {
    border-radius: 0px;
  }

  .navbar-toggler-icon {
    background-image: url('../images/menu-icon.svg');
  }

  
  /*-------------
      Footer
  -------------*/

  .footer {
    background-color: var(--bg-color0);
    height: 140px;
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .up-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .down-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .circle-rss {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--bg-color5);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  .circle-rss:hover {
    border: 2px solid var(--bg-color5);
  }
  .icon-rss {
    margin: auto;
    width: 20px;
    height: 20px;
  }
  .circle-rss:hover .icon-rss {
    width: 25px;
    height: 25px;
    transition: width 0.3s ease, color 0.3s ease-out;
    transition: height 0.3s ease, color 0.3s ease-out;
  }
  .text-footer {
    color: var(--bg-color5);
    letter-spacing: 4.45%;
    font-weight: 500;
    font-size: 13pt;
    margin: auto;
  }

  /*-------------
      Carrito
  -------------*/

  .secciones-carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    
  }

  .carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .carrito .producto {
    height: 150px;
    background-color: var(--bg-color0);
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    width: 750px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  .producto-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 600px;
    padding-left: 30px;
    padding-right: 70px;
  }
  .producto-text {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .producto-nombre {
    font-size: 15pt;
    font-weight: 900;
    letter-spacing: 8%;
  }
  
  .producto-precio {
    font-size: 15pt;
    font-weight: bold;
    letter-spacing: 4.45%;
  }
  .producto-cantidad {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .producto-imagen {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
  }

  .producto-ingredientes {
    margin-right: 30px;
  }

  .producto-seccion-derecha {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .quantity-value {
    width: 38px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    margin-right: 1px;
    background-color: var(--bg-color4);
    color: var(--bg-color0);
    border: none;
    font-size: 10pt;
    font-weight: bold;
  }

  .quantity-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: var(--bg-color5);
    border: none;
    color: var(--bg-color0);
    font-size: 20px;
    font-weight: 600;
  }
  .quantity-button:hover {
    background-color: var(--bg-color1);
  }

  .resumen-carrito {
    min-height: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 390px;
    background-color: var(--bg-color0);

  }
  .tabla-carrito {
    width: 330px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .tabla-carrito td{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12pt;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
  .product-line {
    width: auto;
    height: 1px;
    background-color: var(--bg-color-fondo2);
  }

  .title-resumen-carrito {
    font-size: 15pt;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .carrito .producto .boton-eliminar-producto {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: auto;
  }
  
/*Media query*/
@media only screen and (max-width: 1000px) {

  .section-banner {
    max-height: 300px;
  }

  .banner-text {
    font-size: 4.625rem;
}

   
.title-section {
  font-size: 2.25rem;
}

.text-section {
  font-size: 1.0rem;
}

    .items {
      display: block;
      justify-content:left;
    }

    .section-info {
      min-height: 360px;
      max-width: 1440px;
      padding-left: 100px;
      padding-right: 100px;
    }
  
}
@media only screen and (max-width: 600px) {
    .section-info {
      min-height: 360px;
      max-width: 1440px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .section-banner {
      max-height: 200px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .title-section {
      font-size: 1.75rem;
      padding-left: 15px;
      padding-right: 15px;
    }
    
    .text-section {
      font-size: 0.8rem;
    }
    .banner-text {
      font-size: 3.625rem;
  }
}
