@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: Source Sans Pro,sans-serif;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

:root { /*Variables de la hoja de estilo actual*/
    /* Colores definidos */
    --bg-color0: #ffffff;
    --bg-color1: #e61414;
    --bg-color2: #444444;
    --bg-color3: #666666;
    --bg-color4: #888888;
    --bg-color5: #000000;
    --bg-color6: #999999;
    --bg-color7: #ededed;
    /* Colores de fondo*/
    --bg-color-fondo1: #F3F3F3;
    --bg-color-fondo2: #000;
    --bg-color-fondo3: #EBEBEB; 
}

* { /*Global, define la fuente a utilizar*/
    font-family: Source Sans Pro,sans-serif;
}

body { /*Actua sobre el body definiendo el mismo*/
    margin: auto;
    margin-top: 70px; 
    background-color: var(--bg-color-fondo1);
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.texto {
  font-size: 16px;
  letter-spacing: 0.8px;
}
.display_none {
  display: none !important;
}

.boton_simple { /* Boton cuadrado con fondo negro y letra blanca*/
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: auto;
  background-color: var(--bg-color5);
  padding: 10px;
  color:var(--bg-color0);
  font-weight: 600;
}

.boton_simple:hover { /* Convierte el boton a un fondo rojo con letra blanca*/
  background-color: var(--bg-color1);
  color: var(--bg-color0);
}

.btn-no-margin { /* Elimina los margenes por defecto de boostrap de la etiqueta btn*/
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  --bs-btn-border-width: 0;
}
.no-margin-row { /* Elimina los margenes por defecto de boostrap de la etiqueta row*/
  --bs-gutter-x: 0em;
  --bs-gutter-y: 0em;
}

/*---Boton Inclinado con flecha---*/
.container-btnInclinado { /*Contenedor del Boton Inclinado*/
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.btnInclinado { /*Seccion principal del boton*/
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color0);
  height: 37px;
  border: none;

}
.btnInclinado-textContainer { /*Texto que contiene el boton inclinado*/
  color: var(--bg-color0); 
  background-color: var(--bg-color1);
  width: 173px;
  height: 37px;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnInclinado-text { /*Texto de btnInclinado-text*/
  font-weight: bold;
  font-size: 14px;
  color: var(--bg-color0);
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}
.btnInclinado-arrow { /*Seccion flecha que contiene la misma en el boton inclinado*/
  background-color: rgba(0, 0, 0, 0.0);
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
#btnInclinado-arrowImage { /*ID del boton etiqueta */
  fill: var(--bg-color0);
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 27px;
  height: 27px;
}
.btnInclinado:hover .btnInclinado-textContainer { /*Hover del boton inclinado*/
  color: var(--bg-color0); 
  background-color: var(--bg-color5); 
}

.btnInclinado:hover .btnInclinado-arrow { /*Hover para la seccion de la flecha en el boton inclinado*/
  background-color: var(--bg-color6);
}

.btnInclinado:hover .btnInclinado-arrow #btnInclinado-arrowImage {
fill: var(--bg-color1) !important; 
}  

.section-header { /*Seccion del Header de la Home*/
  min-height: 185px;
}
.text-red { /*Letra de color rojo con tamaño bolder *Utilizado en el header para resaltar una palabra* */
  color: var(--bg-color1);
  font-weight: bolder;
}

.title-section { /*Seccion del titulo*/
  font-size: 3rem;
  letter-spacing: -.5px;
  font-weight: 400;
  margin-top: 0;
}

.text-section { /*Seccion del texto*/
  font-size: 1.125rem;
  line-height: 1.44444em;
  letter-spacing: 0;
  margin-bottom: 0;
  color: var(--bg-color2);
}

.p-no-margin {
  margin-bottom: 0px;
}

/*Maximo 1000px*/
@media only screen and (max-width: 1000px) {
  .title-section {
    font-size: 2.25rem;
  }

  .text-section {
    font-size: 1.0rem;
  }

}
/*Maximo 765px = COLUMNA MDS*/
@media only screen and (max-width: 765px) {
  .title-section {
    font-size: 1.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .text-section {
    font-size: 0.8rem;
  }
}
