@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: Source Sans Pro,sans-serif;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

:root { /*Variables de la hoja de estilo actual*/
    /* Colores definidos */
    --bg-color0: #ffffff;
    --bg-color1: #e61414;
    --bg-color2: #444444;
    --bg-color3: #666666;
    --bg-color4: #888888;
    --bg-color5: #000000;
    --bg-color6: #999999;
    --bg-color7: #ededed;
    /* Colores de fondo*/
    --bg-color-fondo1: #F3F3F3;
    --bg-color-fondo2: #000;
    --bg-color-fondo3: #EBEBEB; 
}

* { /*Global, define la fuente a utilizar*/
    font-family: Source Sans Pro,sans-serif;
}

body { /*Actua sobre el body definiendo el mismo*/
    max-width: 1440px;
    margin: auto;
    margin-top: 70px; 
}

a {
  text-decoration: none;
}

.boton_simple { /* Boton cuadrado con fondo negro y letra blanca*/
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: auto;
  background-color: var(--bg-color5);
  padding: 10px;
  color:var(--bg-color0);
  font-weight: 600;
}

.boton_simple:hover { /* Convierte el boton a un fondo rojo con letra blanca*/
  background-color: var(--bg-color1);
  color: var(--bg-color0);
}

.btn-no-margin { /* Elimina los margenes por defecto de boostrap de la etiqueta btn*/
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  --bs-btn-border-width: 0;
}
.no-margin-row { /* Elimina los margenes por defecto de boostrap de la etiqueta row*/
  --bs-gutter-x: 0em;
  --bs-gutter-y: 0em;
}

/*---Boton Inclinado con flecha---*/
.container-btnInclinado { /*Contenedor del Boton Inclinado*/
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.btnInclinado { /*Seccion principal del boton*/
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color0);
  height: 37px;
  border: none;

}
.btnInclinado-textContainer { /*Texto que contiene el boton inclinado*/
  color: var(--bg-color0); 
  background-color: var(--bg-color1);
  width: 173px;
  height: 37px;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnInclinado-text { /*Texto de btnInclinado-text*/
  font-weight: bold;
  font-size: 14px;
  color: var(--bg-color0);
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
}
.btnInclinado-arrow { /*Seccion flecha que contiene la misma en el boton inclinado*/
  background-color: rgba(0, 0, 0, 0.0);
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
#btnInclinado-arrowImage { /*ID del boton etiqueta */
  fill: var(--bg-color0);
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  width: 27px;
  height: 27px;
}
.btnInclinado:hover .btnInclinado-textContainer { /*Hover del boton inclinado*/
  color: var(--bg-color0); 
  background-color: var(--bg-color5); 
}

.btnInclinado:hover .btnInclinado-arrow { /*Hover para la seccion de la flecha en el boton inclinado*/
  background-color: var(--bg-color6);
}

.btnInclinado:hover .btnInclinado-arrow #btnInclinado-arrowImage {
fill: var(--bg-color1) !important; 
}

  /*---------------------*/
  /* ---CSS DEL HEADER---*/
  /*---------------------*/
.navbar { /*Navegador del Header*/
  background-color: var(--bg-color-fondo2);
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0;
  max-width: 1440px;
  margin: auto;
  height: 70px;
  color: var(--bg-color0);
}

.navbar-brand { /* */
  margin-right: 0;
}

.nav-item { /* */
  background-color: var(--bg-color5);
  color: var(--bg-color0);
}

.button-cartshop { /*Boton del Carrito*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link { /* */
  color: var(--bg-color0);
  text-transform: uppercase;
  border-right: 1px solid var(--bg-color2);
  letter-spacing: .8px;
  font-weight: 900;
  padding: 15px;
  font-size: .625rem;
  cursor: pointer;
  line-height: 1em;
  background-color: var(--bg-color-5);
}

.login { /*Aplica sobre el boton de login*/
  min-width: 112px;
}
.nav-item-hover:hover { /* */
  background-color: var(--bg-color1);
  color: var(--bg-color0);
}
.nav-link:hover{ /* */
  color: var(--bg-color0);
  background-color: var(--bg-color1);
}

.nav-link:active{ /* */
  color: var(--bg-color0);
}

.navbar-expand-lg .navbar-nav .nav-link { /* */
  padding-right: 15px;
  padding-left: 15px;
}
.logo { /*Aplica sobre el container del logo*/
  background-color: var(--bg-color1); /*Color fondo seccion*/
  width: 22%; /* Ancho de la seccion del logo*/
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  height: 70px;
  min-width: 240px;
}

.logo-img { /*Aplica sobre la imagen del logo*/
  margin-top: 8px;
  margin-bottom: 8px;
}

.items { /*Seccion que contiene los diferentes botones*/
  display: flex;
  justify-content:space-between;
}

.no-border-link { /*Propiedad utilizada para evitar el borde derecho del boton*/
  border-right: 0px;
  max-height: 40px;
  margin: auto;
}

.account { /*Propiedad utiliza por el boton de account*/
  max-height: 40px;
  margin: auto;
}

.btn-custom { /*Boton del navegador*/
  margin-left: 0.2px;
  border: 1px solid  var(--bg-color2);
  background-color: var(--bg-color2);
  border-radius: 0;
  color: var(--bg-color0);
  margin-right: 15px;
}

.btn-custom:hover { /*Hover del boton con fondo rojo*/
  background-color: var(--bg-color1);
}

.input-buscar { /*Input de buscar*/
  border-radius: 0px;
}

.navbar-toggler-icon { /*Imagen del navegador desplegable*/
  background-image: url('../images/menu-icon.svg');
}

.account_image { /*Imagen de la cuenta*/
  margin-left: 3px;
}

.margen-derecho { /*Margen derecho del header*/
  width: 96px; 
}

 /*----------------------------------*/
  /* ---CSS PROPIO DE LA VISTA HOME---*/
  /*----------------------------------*/
  
  .section-banner { /*Container del banner*/
    height: 500px;
    max-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/twentynines.jpg');
    background-size: cover;
    background-position-y: 87%;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .banner-text { /*Texto del Banner*/
      color: var(--bg-color0);
      display: flex;
      justify-content: center;
      padding: 0;
      font-size: 5.625rem;
      line-height: .84444em;
  }

  .title { /*Letra de tipo titulo*/
      
      font-weight: 400;
      letter-spacing: -2.1px;
      text-shadow: 0 8px 0 #000;
      color: var(--bg-color0);
      text-transform: uppercase;
  }

  .section-header { /*Seccion del Header de la Home*/
    min-height: 185px;
  }
  .text-red { /*Letra de color rojo con tamaño bolder *Utilizado en el header para resaltar una palabra* */
    color: var(--bg-color1);
    font-weight: bolder;
  }
  
  .title-section { /*Seccion del titulo*/
    font-size: 3rem;
    letter-spacing: -.5px;
    font-weight: 400;
    margin-top: 0;
  }

  .text-section { /*Seccion del texto*/
    font-size: 1.125rem;
    line-height: 1.44444em;
    letter-spacing: 0;
    margin-bottom: 0;
    color: var(--bg-color2);
  }

  .section-elements { /*Container que contiene los elementos de la home*/
    max-width: 1440px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-color-fondo1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .element { /*Elemento de la seccion elements*/
    max-width: 620px;
    min-height: 420px;
    background-color: var(--bg-color0);
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
  }

  .element-image { /*Imagen del elemento*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    min-width: 310px;
    transition: transform 0.5s ease-in-out; 
  }

  .element-text { /*Texto del elemento*/
    background-color: var(--bg-color0);
    min-height: 420px;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content:top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease-out;
  }

  .element-title { /* Titulo del elemento*/
    font-size: 50;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: var(--bg-color5);
  }

  .element-description { /*Descripcion del elemento*/
    padding-top: 10px;
    font-size: 15;
    font-weight: 600;
    color: var(--bg-color3);
  }

  .carta { /*Propiedad que incluye y posiciona la imagen en el elemento carta*/
    background-image: url('../images/smash-burger.webp');
    background-position-x: 36%;
  }

  .calendario { /*Propiedad que incluye y posiciona la imagen en el elemento calendario*/
    background-image: url('../images/calendario-laboral-2023_98.webp');
    background-position-x: 80%;
  }


  .element:hover { /*Hover del elemento*/
    cursor: pointer;
  }
  .element:hover .element-text { /*Hover del elemento que aplica sobre el texto del mismo*/
    background-color: var(--bg-color5);
    color: var(--bg-color0);
  }

  .element:hover .element-title { /*Hover del elemento que aplica sobre el titulo del mismo*/
    color: var(--bg-color0);
  }

  .element:hover .element-image { /*Hover del elemento que aplica sobre la imagen mismo*/
    transform: scale(1.1);
  }

  .button-discover { /*Boton de Descubrir ubicado en la parte inferior del elemento*/
    color: var(--bg-color1);
    font-size: 13;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 50px;
  }

  .section-info { /*Seccion del home donde se muestra una descripcion del restaurante*/
    min-height: 360px;
    max-width: 1440px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-info-bottom { /*Seccion vacia bajo la seccion info y sobre el footer*/
    max-width: 1440px;
    height: 60px;
    margin: auto;
    background-color: var(--bg-color-fondo1);
  }

  .title-info { /*Titulo de la seccion informacion*/
    color: var(--bg-color1);
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: 700;
    letter-spacing: -.5px;
  }
  
  .subtitle-info { /*Subtitulo de la seccion informacion*/
    letter-spacing: 0;
    margin-top: 30px;
    font-weight: 600;
    color: var(--bg-color5);
    font-size: 1.125rem;
    line-height: 1.4444em;
    text-align: left;
  }

  .description-info { /*Descripcion de la seccion informacion*/
    color: var(--bg-color2);
    font-weight: 500;
    letter-spacing: 0;
    font-size: 14;
    line-height: 1.42857em;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /*-----------------------------------*/
  /* ---CSS UTILIZADO POR CARTA.HTML---*/
  /*-----------------------------------*/
  .container-categories { /* Container de categorias*/
    display: flex;
    background-color:#F3F3F3;
    max-width: 1440px;
    margin: auto;
  }

  .container-products { /* Container de productos*/
    display: flex;
    justify-content: center;
    background-color:#F3F3F3;
    max-width: 1440px;
    margin: auto;
  }

  /* Tamaño de la secciones categoria*/
  .category {
    width: 360px;
    height: 540px;
  }

  /*---Articulo que usan la categoria o los producto---*/
  .card { /*Actua sobre la base del Articulo*/
    border-radius: 0px;
    border: 0px;
    min-width: 360;
    margin: 20px;
    position: relative;
    overflow: hidden;
  }
  .card-img-top { /* Imagen superior del articulo*/
    border-radius: 0px;
    object-fit: cover;
    height: 286px;
  }
  .card-body { /*Cuerpo del articulo*/
    background-color: var(--bg-color0);
    /*height: 254px;*/
    height: 214px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease-out;
  }
  .card-body-bottom { /*Seccion inferior de el cuerpo del articulo*/
    display: flex;
    align-items: center;
    height: 40px;
  }
  .precio { /*Actua sobre la seccion donde se muestra Precio */
    margin-bottom: 0;
    font-weight: 600;
  }
  .category .product-image { /*Define el tamaño de la imagen de la seccion*/
    height: 286px;
  }
  .card-title { /* Titulo de el articulo*/
    color: var(--bg-color5);
    font-size:23pt;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1;
    margin-bottom: 0;
  }
  .card-text { /* Actua sobre el texto del articulo */
    color: var(--bg-color3);
    font-size: 12pt;
    font-weight: 600;
    margin-bottom: 0;
  }
  .category-header { /* Cabecera de seccion, añade una gran linea divisoria debajo del titulo*/
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: end;
    padding-top: 30px;
    border-bottom: 2px solid var(--bg-color5);
    margin-bottom: 20px;
  }
  .category-title { /* Titulo de la categoria*/
    margin-left: 20px;
    font-size: 40;
    font-weight: 500;
  }
  .product-image { /*Imagen del producto*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 286px;
    width: 360px;
    transition: transform 0.5s ease-in-out;
  }
 /*--------------------------------------*/

   /*---Boton para añadir producto al carrito---*/
   .red-button { /*Texto de boton*/
    color: var(--bg-color1);
    font-weight: 900;
    font-size: 9pt;
    margin-bottom: 0;
  }

  .red-button-product {
    text-decoration: none;
    text-align: left;
    padding-left: 15px;
    border: none;
    background-color: var(--bg-color0);
    color: var(--bg-color1);
    font-weight: 900;
    font-size: 9pt;
    margin-bottom: 0;
    width: 360px;
    height: 40px;
    transition: background-color 0.3s ease, color 0.3s ease-out;
  }
  #arrow_svg { /* Imagen SVG del boton*/
    fill: var(--bg-color1);
    margin-left: 8px;
  }

  .card:hover .card-body-bottom .red-button-product {
    background-color: var(--bg-color5);
    transition: background-color 0.5s ease-in-out;
  }
  .btnAñadir:hover .red-button-product { /*Hover del boton sobre el texto*/
    color: var(--bg-color0);
    fill: var(--bg-color0);
    background-color: var(--bg-color5);
    transition: background-color 0.5s ease-in-out;
  }
  .btnAñadir:hover #arrow_svg { /*Hover del boton sobre la imagen svg*/
    color: var(--bg-color0);
    fill: var(--bg-color0);
  }
  /*------------------------------*/

  /*---Hovers---*/
  .card:hover .card-body { /*Hover que cambia un articulo a negro con una transicion*/
    background-color: var(--bg-color5);
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
  }
  .card:hover .card-title { /*Hover que cambia el titulo a blanco*/
    color: var(--bg-color0);
  }
  .card:hover .precio {
    color: var(--bg-color0); /*Hover que cambia el precio a blanco*/
  }
  .card:hover .product-image { /*Hover que amplia la imagen del articulo*/
    transform: scale(1.1);
    object-fit: cover;
  }
  /*------------*/

  
/*Maximo 1240px*/
@media only screen and (max-width: 1240px) {
  .margen-derecho { /*Margen derecho del header*/
    width: 20px; 
  }

  .element { /*Modifica el ancho maximo de los elemento de la home*/
    max-width: 320px;
  }

  .element-image { /*Modifica los tamaños de la imagen de los elemento de la home*/
    height: 320px;
    min-width: 320px;
  }

  .element-text { /*Modifica los tamaños de el texto de elemento de la home*/
    min-height: 320px;
    min-width: 320px;
    padding: 20px;
  }

  .button-discover { /*Elimina el margen inferior al boton descubrir de un elemento de la home*/
    padding-bottom: 0px;
  }

  .element-title { /*Modifica las propiedades del titulo de un elemento de la home*/
    font-size: 50;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: var(--bg-color5);
  }

  .element-description { /*Modifica las propiedades de la descripcion de un elemento de la home*/
    padding-top: 10px;
    font-size: 15;
    font-weight: 600;
    color: var(--bg-color3);
  }
}
/*Maximo 1000px*/
@media only screen and (max-width: 1000px) {

    .section-banner { /*Modifica el tamaño de la seccion del banner en la home*/
      max-height: 300px;
    }

    .banner-text { /*Modifica el texto del banner de la home*/
      font-size: 4.625rem;
  }

    
  .title-section { /*Modifica el tamaño del titulo de la home*/
    font-size: 2.25rem;
  }

  .text-section { /*Modifica el tamaño del texto de la home*/
    font-size: 1.0rem;
  }

  .items { /*Modifica la distribucion de los botones del navegador*/
    display: block;
    justify-content:left;
  }

  .section-info { /*Establece nuevos tamaños para la seccion de informacion de la home*/
    min-height: 360px;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button-cartshop { /*Modifica la ubicacion del boton del Carrito*/
    display: flex;
    justify-content: left;
    align-items: left;
  }

}
/*Maximo 765px = COLUMNA MDS*/
@media only screen and (max-width: 765px) {

  .section-elements { /*Reduce los tamaños del container que contiene los elementos de la home*/
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .element { /*Reestablece el margen superior a los elementos de la home*/
    margin-top: 30px;
  }

  .section-info { /*Restablece los tamaños de la seccion informacion de la home*/
    min-height: 360px;
    max-width: 1440px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .section-banner { /*Restablece los tamaños de la seccion del banner en la home*/
    max-height: 200px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .title-section { /*Reestablece el tamaño del titulo de la home*/
    font-size: 1.75rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .text-section { /*Modifica el tamaño del texto de la home*/
    font-size: 0.8rem;
  }
  .banner-text { /*Modifica el texto del banner de la home*/
    font-size: 3.625rem;
  }
  .button-cartshop { /*Modifica la ubicacion del boton del Carrito*/
    display: flex;
    justify-content: left;
    align-items: left;
  }
}
