@charset "utf-8";
/* CSS Document */

  .section-banner { /*Container del banner*/
    height: 500px;
    max-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/twentynines.jpg');
    background-size: cover;
    background-position-y: 87%;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .banner-text { /*Texto del Banner*/
      color: var(--bg-color0);
      display: flex;
      justify-content: center;
      padding: 0;
      font-size: 5.625rem;
      line-height: .84444em;
  }

  .title { /*Letra de tipo titulo*/
      
      font-weight: 400;
      letter-spacing: -2.1px;
      text-shadow: 0 8px 0 #000;
      color: var(--bg-color0);
      text-transform: uppercase;
  }

  .section-elements { /*Container que contiene los elementos de la home*/
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-color-fondo1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .element { /*Elemento de la seccion elements*/
    max-width: 620px;
    min-height: 420px;
    background-color: var(--bg-color0);
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
  }

  .element-image { /*Imagen del elemento*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    min-width: 310px;
    transition: transform 0.5s ease-in-out; 
  }

  .element-text { /*Texto del elemento*/
    background-color: var(--bg-color0);
    min-height: 420px;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content:top;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease-out;
  }

  .element-title { /* Titulo del elemento*/
    font-size: 50;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: var(--bg-color5);
  }

  .element-description { /*Descripcion del elemento*/
    padding-top: 10px;
    font-size: 15;
    font-weight: 600;
    color: var(--bg-color3);
  }

  .carta { /*Propiedad que incluye y posiciona la imagen en el elemento carta*/
    background-image: url('../images/smash-burger.webp');
    background-position-x: 36%;
  }

  .calendario { /*Propiedad que incluye y posiciona la imagen en el elemento calendario*/
    background-image: url('../images/calendario-laboral-2023_98.webp');
    background-position-x: 80%;
  }


  .element:hover { /*Hover del elemento*/
    cursor: pointer;
  }
  .element:hover .element-text { /*Hover del elemento que aplica sobre el texto del mismo*/
    background-color: var(--bg-color5);
    color: var(--bg-color0);
  }

  .element:hover .element-title { /*Hover del elemento que aplica sobre el titulo del mismo*/
    color: var(--bg-color0);
  }

  .element:hover .element-image { /*Hover del elemento que aplica sobre la imagen mismo*/
    transform: scale(1.1);
  }

  .button-discover { /*Boton de Descubrir ubicado en la parte inferior del elemento*/
    color: var(--bg-color1);
    font-size: 13;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 50px;
  }

  .section-info { /*Seccion del home donde se muestra una descripcion del restaurante*/
    min-height: 360px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-info-bottom { /*Seccion vacia bajo la seccion info y sobre el footer*/
    height: 60px;
    margin: auto;
    background-color: var(--bg-color-fondo1);
  }

  .title-info { /*Titulo de la seccion informacion*/
    color: var(--bg-color1);
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: 700;
    letter-spacing: -.5px;
  }
  
  .subtitle-info { /*Subtitulo de la seccion informacion*/
    letter-spacing: 0;
    margin-top: 30px;
    font-weight: 600;
    color: var(--bg-color5);
    font-size: 1.125rem;
    line-height: 1.4444em;
    text-align: left;
  }

  .description-info { /*Descripcion de la seccion informacion*/
    color: var(--bg-color2);
    font-weight: 500;
    letter-spacing: 0;
    font-size: 14;
    line-height: 1.42857em;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

    
/*Maximo 1240px*/
@media only screen and (max-width: 1240px) {
  
    .element {
      max-width: 320px;
    }
  
    .element-image {
      height: 320px;
      min-width: 320px;
    }
  
    .element-text {
      min-height: 320px;
      min-width: 320px;
      padding: 20px;
    }
  
    .button-discover {
      padding-bottom: 0px;
    }
  
    .element-title {
      font-size: 50;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: -1px;
      color: var(--bg-color5);
    }
  
    .element-description {
      padding-top: 10px;
      font-size: 15;
      font-weight: 600;
      color: var(--bg-color3);
    }
  }
  /*Maximo 1000px*/
  @media only screen and (max-width: 1000px) {
  
      .section-banner {
        max-height: 300px;
      }
  
      .banner-text {
        font-size: 4.625rem;
    }

    .section-info {
      min-height: 360px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
  }
  /*Maximo 765px = COLUMNA MDS*/
  @media only screen and (max-width: 765px) {
  
    .section-elements {
      padding-top: 0px;
      padding-bottom: 30px;
    }
    .element {
      margin-top: 30px;
    }
  
    .section-info {
      min-height: 360px;
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .section-banner {
      max-height: 200px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .banner-text {
      font-size: 3.625rem;
    }
  }
  