@charset "utf-8";
/* CSS Document */

input {
    border: 1px solid var(--bg-color4);
    border-radius: 0px;
    padding: 10px;
}

label {
    color: var(--bg-color5);
    font-weight: 600;
}

.mainContainer {
    background-color: var(--bg-color-fondo1);
}
.perfilContainer {
    margin: auto;  
}

.tituloContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: end;
    padding-top: 30px;
    border-bottom: 2px solid var(--bg-color5);
    margin-bottom: 20px;
}

.formularioAtributos {
    margin: auto;
}

.formularioAtributos div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.formularioContainer {
    margin: auto;
}

.containerInfo {
    padding-top: 25px;
    padding-bottom: 25px;
}
.ultimaCompra {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}

.opciones {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}
.opciones form {
    margin-left: 5px;
    margin-right: 5px;
}