@charset "utf-8";
/* CSS Document */

/* FONTS */
@font-face {
    font-family: Source Sans Pro,sans-serif;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
/*Variables CSS*/
:root {
    /* --main-bg-color: brown; */
    --bg-color0: #ffffff;
    --bg-color1: #e61414;
    --bg-color2: #444444;
    --bg-color3: #666666;
    --bg-color4: #888888;
    --bg-color5: #000000;
    --bg-color-fondo1: #F3F3F3;
    --bg-color-fondo2: #000;
    --bg-color-fondo3: #EBEBEB; /*Fondo color web*/
}
* {
    font-family: Source Sans Pro,sans-serif;
}

.mainContainer {
    background-color: var(--bg-color-fondo1);
    max-width: 1440px;
}
.perfilContainer {
    margin: auto;  
}

.tituloContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: end;
    padding-top: 30px;
    border-bottom: 2px solid var(--bg-color5);
    margin-bottom: 20px;
}

.formularioAtributos {
    margin: auto;
}

.formularioAtributos div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.formularioContainer {
    margin: auto;
}

.containerInfo {
    padding-top: 25px;
    padding-bottom: 25px;
}
.ultimaCompra {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}

.opciones {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}
.opciones form {
    margin-left: 5px;
    margin-right: 5px;
}